{% extends 'base.html.twig' %}

{% block title %}TAG{% endblock %}

{% block body %}
{{ include('nav.html.twig') }}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Foire aux questions</div>
        <div class="masthead-heading ">Trouvez ici les réponses aux questions les plus souvent posées</div>

    </div>
</header>

<!--FAQ-->
<section class="page-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {# <div>
            <div style="text-align: center;">
                <p style="color: green;">QUESTION : Je veux collecter les impôts dans ma commune, ai-je le droit ?</p>
                <p style="color: red;">REPONSE : Et oui, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
                <p style="color: green">QUESTION : Comment adhérer au TAG ?</p>
                <p style="color: red;">REPONSE : En payant, pardi !</p>
            </div>
        </div> #}
                <div class="col-sm-12 accordion_one">
                    <div class="panel-group" id="accordionFourLeft">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion_oneLeft"
                                        href="#collapseFiveLeftone" aria-expanded="false" class="collapsed"> Un
                                        conseiller municipal qui multiplie les absences aux réunions du conseil peut-il
                                        être déclaré démissionnaire d’office </a> </h4>
                            </div>
                            <div id="collapseFiveLeftone" class="panel-collapse collapse" aria-expanded="false"
                                role="tablist" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="img-accordion"> <img
                                            src="https://img.icons8.com/color/81/000000/person-female.png" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            Par principe, tout membre d’un conseil municipal, qui sans excuse valable, a
                                            refusé de remplir une des fonctions qui lui sont dévolues par la loi est
                                            déclaré démissionnaire d’office par le tribunal administratif..
                                        </p>
                                    </div>
                                </div> <!-- end of panel-body -->
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse"
                                        data-parent="#accordion_oneLeft" href="#collapseFiveLeftTwo"
                                        aria-expanded="false"> La commune peut-elle déléguer à une entreprise privée la
                                        surveillance d’un jardin public ou d’une aire de jeux ? </a> </h4>
                            </div>
                            <div id="collapseFiveLeftTwo" class="panel-collapse collapse" aria-expanded="false"
                                role="tablist" style="height: 0px;">
                                <div class="panel-body">
                                    <div class="img-accordion"> <img
                                            src="https://img.icons8.com/color/81/000000/person-male.png" alt=""> </div>
                                    <div class="text-accordion">
                                        <p>Selon une jurisprudence établie, l’activité de
                                            police administrative ne peut par nature être déléguée ou concédée à une
                                            personne
                                            privée. Mais la législation permet aux sociétés de surveillance et de
                                            gardiennage
                                            de fournir, notamment aux communes, des services ayant pour objet le
                                            gardiennage
                                            de leurs biens meubles ou immeubles.
                                        </p>
                                    </div>
                                </div> <!-- end of panel-body -->
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse"
                                        data-parent="#accordion_oneLeft" href="#collapseFiveLeftThree"
                                        aria-expanded="false"> Un commerce ambulant doit-il demander une autorisation
                                        d’occupation du domaine public ? </a> </h4>
                            </div>
                            <div id="collapseFiveLeftThree" class="panel-collapse collapse" aria-expanded="false"
                                role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion"> <img
                                            src="https://img.icons8.com/color/81/000000/person-female.png" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p> Le respect du principe de la liberté du commerce et de l’industrie interdit
                                            au maire
                                            de porter atteinte à l’exercice d’une profession. Ainsi, il ne peut
                                            interdire de façon
                                            générale et absolue l’exercice d’un commerce ambulant. Une telle mesure ne
                                            saurait être justifiée que pour un motif tiré des nécessités urgentes de
                                            l’ordre public(1).
                                            L’utilisation du domaine public afin d’exercer une activité commerciale est
                                            soumise
                                            à la délivrance d’une autorisation préalable
                                        </p>
                                    </div>
                                </div> <!-- end of panel-body -->
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse"
                                        data-parent="#accordion_oneLeft" href="#collapseFiveLeftFour"
                                        aria-expanded="false"> Un Maire peut-il retirer ses délégations
                                        à un adjoint ? </a> </h4>
                            </div>
                            <div id="collapseFiveLeftFour" class="panel-collapse collapse" aria-expanded="false"
                                role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion"> <img
                                            src="https://img.icons8.com/color/81/000000/person-male.png" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p> Lorsque des motifs le justifient et à condition qu’ils ne soient pas
                                            étrangers à la
                                            bonne marche de l’administration communale, le maire peut prononcer le
                                            retrait des
                                            délégations d’un adjoint.
                                            Ce retrait sera fait par arrêté. Il devra être publié, mais il n’aura pas à
                                            être notifié.
                                            Suite à ce retrait, le conseil municipal devra se prononcer sur le maintien
                                            de l’adjoint
                                            dans ses fonctions.
                                        </p>
                                    </div>
                                </div> <!-- end of panel-body -->
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse"
                                        data-parent="#accordion_oneLeft" href="#collapseFiveLeftFive"
                                        aria-expanded="false"> Un commerce ambulant doit-il demander une autorisation
                                        d’occupation du domaine public ? </a> </h4>
                            </div>
                            <div id="collapseFiveLeftFive" class="panel-collapse collapse" aria-expanded="false"
                                role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion"> <img
                                            src="https://img.icons8.com/color/81/000000/person-female.png" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p> Le respect du principe de la liberté du commerce et de l’industrie interdit
                                            au maire
                                            de porter atteinte à l’exercice d’une profession. Ainsi, il ne peut
                                            interdire de façon
                                            générale et absolue l’exercice d’un commerce ambulant. Une telle mesure ne
                                            saurait être justifiée que pour un motif tiré des nécessités urgentes de
                                            l’ordre public(1).
                                            L’utilisation du domaine public afin d’exercer une activité commerciale est
                                            soumise
                                            à la délivrance d’une autorisation préalable
                                        </p>
                                    </div>
                                </div> <!-- end of panel-body -->
                            </div>
                        </div> <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse"
                                        data-parent="#accordion_oneLeft" href="#collapseFiveLeftSix"
                                        aria-expanded="false"> Un adjoint exerçant une activité professionnelle a-t-il
                                        droit à des autorisations
                                        d’absence pour l’exercice de son mandat ? </a> </h4>
                            </div>
                            <div id="collapseFiveLeftSix" class="panel-collapse collapse" aria-expanded="false"
                                role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion"> <img
                                            src="https://img.icons8.com/color/81/000000/person-female.png" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>
                                            L’employeur privé doit laisser à tout salarié de son entreprise, membre d’un
                                            conseil
                                            municipal, le temps nécessaire pour se rendre et participer aux séances
                                            plénières
                                            de ce conseil, aux réunions de commissions municipales dont il est membre,
                                            et aux
                                            réunions des assemblées délibérantes et des bureaux des organismes où il a
                                            été
                                            désigné pour représenter la commune. Seront toutefois écartées les activités
                                            de
                                            relations publiques, hors de toute convocation officiell
                                        </p>
                                    </div>
                                </div> <!-- end of panel-body -->
                            </div>
                        </div> <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse"
                                        data-parent="#accordion_oneLeft" href="#collapseFiveLeftSeven"
                                        aria-expanded="false"> Quelles sont les conséquences de la vacance
                                        d’un poste d’adjoint ? </a> </h4>
                            </div>
                            <div id="collapseFiveLeftSeven" class="panel-collapse collapse" aria-expanded="false"
                                role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion"> <img
                                            src="https://img.icons8.com/color/81/000000/person-male.png" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p>Quand un poste d’adjoint devient vacant pour quelque cause que se soit,
                                            celui-ci
                                            peut-être soit remplacé soit supprimé par délibération du conseil municipal
                                            sans
                                            que cela fasse l’objet d’un vote formel.
                                            Le conseil municipal peut décider de supprimer ce poste, sauf s’il s’agit
                                            d’un adjoint
                                            unique.
                                        </p>
                                    </div>
                                </div> <!-- end of panel-body -->
                            </div>
                        </div> <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse"
                                        data-parent="#accordion_oneLeft" href="#collapseFiveLeftEight"
                                        aria-expanded="false"> Un conseiller municipal peut-il célébrer
                                        un mariage ?</a> </h4>
                            </div>
                            <div id="collapseFiveLeftEight" class="panel-collapse collapse" aria-expanded="false"
                                role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion"> <img
                                            src="https://img.icons8.com/color/81/000000/person-female.png" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p> Le mariage ne peut être célébré que par un officier d’état civil et la loi
                                            précise que
                                            seul le maire et les adjoints sont officiers d’état civil.
                                            Aux termes de la loi le maire peut déléguer une partie de ses compétences à
                                            des
                                            conseillers municipaux lorsque ses adjoints sont empêchés ou absents, ou
                                            s’ils sont
                                            tous titulaires d’une délégation.Le maire peut donc donner une délégation à
                                            des conseillers municipaux pour célébrer un mariage.
                                            Il pourra le faire même si lui-même ou un adjoint est disponible pour y
                                            procéder
                                        </p>
                                    </div>
                                </div> <!-- end of panel-body -->
                            </div>
                        </div> <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse"
                                        data-parent="#accordion_oneLeft" href="#collapseFiveLeftNine"
                                        aria-expanded="false"> Dans quels cas la commune peut-elle donner
                                        congé à un locataire ayant un bail d’habitation
                                        non meublé ?</a> </h4>
                            </div>
                            <div id="collapseFiveLeftNine" class="panel-collapse collapse" aria-expanded="false"
                                role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion"> <img
                                            src="https://img.icons8.com/color/81/000000/person-male.png" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p> Les contrats de location de locaux à usage d’habitation principale ou à
                                            usage mixte
                                            (professionnel et d’habitation principale) passés par les communes sont
                                            rédigés en
                                            référence à la loi n° 89-462 du 6 juillet 1989.
                                            Dans le cadre de cette loi, la commune peut donner congé à deux occasions :
                                            soit
                                            lorsqu’elle décide de vendre ou de reprendre son bien, soit pour un motif
                                            légitime et
                                            sérieux .
                                        </p>
                                    </div>
                                </div> <!-- end of panel-body -->
                            </div>
                        </div> <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse"
                                        data-parent="#accordion_oneLeft" href="#collapseFiveLeftTeen"
                                        aria-expanded="false"> Un chemin rural peut-il être vendu ?</a> </h4>
                            </div>
                            <div id="collapseFiveLeftTeen" class="panel-collapse collapse" aria-expanded="false"
                                role="tablist">
                                <div class="panel-body">
                                    <div class="img-accordion"> <img
                                            src="https://img.icons8.com/color/81/000000/person-male.png" alt="">
                                    </div>
                                    <div class="text-accordion">
                                        <p> Selon les dispositions du code rural, « Lorsqu’un chemin rural cesse d’être
                                            affecté
                                            à l’usage du public, la vente peut être décidée après enquête par le conseil
                                            municipal ».
                                            Il faut souligner que les chemins ruraux appartiennent au domaine privé de
                                            la commune. Dans cette mesure, un chemin rural peut faire l’objet de vente
                                            ou de prescription acquisitive trentenaire.
                                            Pour pouvoir être vendu, le chemin doit faire l’objet d’une procédure de
                                            désaffectation
                                        </p>
                                    </div>
                                </div> <!-- end of panel-body -->
                            </div>
                        </div> <!-- /.panel-default -->
                    </div>
                    <!--end of /.panel-group-->
                </div>
            </div>
            <div class="row">Vous n'avez pas trouvé la réponse à votre problème ?

                Faites votre <a class="btn btn-primary btn-xl text-uppercase" href="{{ path('contact') }}"> demande
                    d'inscription
                </a> au service personnalisé
                d'aide juridique et
                administrative du TAG

            </div>
        </div>
</section>

<!-- Team-->
<!-- <section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ asset("build/assets/img/team/1.jpg") }}" alt="..." />
                    <h4>Parveen Anand</h4>
                    <p class="text-muted">Lead Designer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ asset("build/assets/img/team/2.jpg") }}" alt="..." />
                    <h4>Diana Petersen</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ asset("build/assets/img/team/3.jpg") }}" alt="..." />
                    <h4>Larry Parker</h4>
                    <p class="text-muted">Lead Developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
                    laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section> -->



<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ asset("build/assets/img/close-icon.svg") }}"
                    alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="{{ asset("build/assets/img/portfolio/1.jpg") }}"
                                alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Threads
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Illustration
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ asset("build/assets/img/close-icon.svg") }}"
                    alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="{{ asset("build/assets/img/portfolio/2.jpg") }}"
                                alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Explore
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Graphic Design
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ asset("build/assets/img/close-icon.svg") }}"
                    alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="{{ asset("build/assets/img/portfolio/3.jpg") }}"
                                alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Finish
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Identity
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ asset("build/assets/img/close-icon.svg") }}"
                    alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="{{ asset("build/assets/img/portfolio/4.jpg") }}"
                                alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Lines
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Branding
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ asset("build/assets/img/close-icon.svg") }}"
                    alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="{{ asset("build/assets/img/portfolio/5.jpg") }}"
                                alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Southwest
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Website Design
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{{ asset("build/assets/img/close-icon.svg") }}"
                    alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="{{ asset("build/assets/img/portfolio/6.jpg") }}"
                                alt="..." />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Window
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Photography
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ include('footer.html.twig') }}
{% endblock %}